body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#map {
    height: 100vh;
}
.container {
    position: relative;
}
.title {
    font-size: 88px;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 100px;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}
.search-container {
    width: 400px;
    height: 60px;
    background-color: #454E53;
    position: absolute;
    z-index: 10;
    left: 100px;
    top: 230px;
    border-radius: 30px;
}
.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.search input {
    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}

.search i {
    color: white;
    font-size: 25px;
}
.stores-list-container {
    width: 400px;
    border-radius: 30px;
    background-color: white;
    top: 320px;
    position: absolute;
    z-index: 10;
    left: 100px;
    bottom: 20px;
    display: flex;
    padding-bottom: 30px;
    overflow: hidden;
}
.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}
.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0,.87);
}
.store-info-open-status {
    margin-top: 6px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    color: rgba(0,0,0,.57);
}
.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.store-info-phone a, .store-info-address {
    text-decoration: none;
    color: #514C4C;
}
.store-info-address .icon, .store-info-phone .icon {
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    margin-right: 8px;
}


.stores-list {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    
}
.store-container {
    border-bottom: 1px solid #979797;
    display: flex;
}
.store-info-container {
    flex-grow: 1;
}
.store-number-container {
    display: flex;
    align-items: center;
}
.store-number {
    width: 30px;
    height: 30px;
    background-color: #454E53;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-address {
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}
.store-address span {
    display: block;
}
.store-phone-number {
    color: #B5ADAd;
    margin-top: 15px;
    margin-bottom: 15px;
}
.store-container-background {
    flex-grow: 1;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.store-container-background:hover {
    background-color: #cccccc87;
} 
.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.enter-zip {
    color: #514C4C;
    font-size: 22px;
}
.find-stores {
    color: #1985A1;
    font-size: 20px;
}
.no-stores-found {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #514C4C;
    font-size: 20px;
}